:root {
  --orangeClr: #fdc886;
  --silverClr: #d7dcdf;
  --mainBeige: #f5f2ea;
  --maiWhite: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

input:not(input[type='radio']) {
  display: block;
}

body {
  background-color: var(--mainBeige);
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  padding: 2rem;
}

header h1 {
  font-weight: 500;
  font-size: 1.75rem;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--silverClr);
  width: max-content;
  padding-bottom: 0.25rem;
}
main {
  background-color: var(--maiWhite);
  margin: 2rem 1rem;
  padding: 1.5rem 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 1px 2px 5px var(--silverClr);
}

main h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
}

main > p {
  margin: 1rem 0.25rem;
  font-weight: 200;
  text-align: center;
}

main form div.setting {
  margin-block: 2rem;
}

main form div.setting label,
main form div.setting fieldset legend {
  font-weight: 500;
}

main form div.setting p,
main form div.setting span {
  font-weight: 200;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  display: block;
}

main form div.setting input[type='text'] {
  border: 1px solid var(--silverClr);
  padding-block: 0.456rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
  outline: none;
}

main form div.setting input[type='text']:focus {
  border: 2px solid var(--orangeClr);
  color: var(--orangeClr);
}

main form div.setting div.qr-background {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

main form div.setting div.qr-background > div {
  text-align: center;
  margin-block-end: 0.5rem;
}

main form div.setting div.qr-background > div > input {
  margin-inline: auto;
  margin-top: 1rem;
}

main form div.setting input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: var(--silverClr);
  outline: none;
}

main form div.setting input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--orangeClr);
  cursor: pointer;
}

main form div.setting input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--orangeClr);
  cursor: pointer;
}

main form div.setting fieldset {
  border: none;
  padding-block: 1rem;
}

main form div.setting fieldset div {
  border: 1px solid var(--silverClr);
  display: inline-block;
  width: 75px;
  margin-bottom: 0.25rem;
  margin-inline: auto;
  padding: 0.125rem;
}

main form div.setting fieldset div label {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main form div.setting fieldset div input[type='radio'] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 18px;
  height: 18px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid var(--orangeClr);
  background-color: transparent;
  border-radius: 50%;
}

main form div.setting fieldset div input[type='radio']:checked {
  background-color: var(--orangeClr);
  padding: 2px;
}

@media (min-width: 500px) {
  main {
    max-width: 450px;
    margin-inline: auto;
    padding: 2.5rem 1.5rem;
  }

  main > p {
    max-width: 80%;
    margin-inline: auto;
  }

  main form div.setting div.qr-background {
    flex-direction: row;
    justify-content: space-around;
  }
}
